PROJECT_NAME           = IBEX CPUU
OUTPUT_DIRECTORY       = generated_html/IBEX
VERILOG_VERSION        = NO
LOOKUP_CACHE_SIZE      = 4
NUM_PROC_THREADS       = 1

EXTRACT_ALL            = YES
EXTRACT_PRIVATE        = yes
EXTRACT_LOCAL_METHODS  = yes
EXTRACT_STATIC         = yes
EXTRACT_LOCAL_CLASSES  = YES
EXTRACT_PRIV_VIRTUAL   = yes
EXTRACT_PACKAGE        = yes
LAYOUT_FILE            = 

INPUT                  = source_files/ibex
FILE_PATTERNS          = *.v \
                         *.sv \
                         *.svh \
                         *.vh \
                         *.h
                                 
RECURSIVE              = yes

SOURCE_BROWSER         = yes

ENABLE_PREPROCESSING   = yes
MACRO_EXPANSION        = no
INCLUDE_PATH           = 
PREDEFINED             = 


DIRECTORY_GRAPH        = YES

INCLUDE_GRAPH          = YES
GRAPHICAL_HIERARCHY    = YES
INCLUDED_BY_GRAPH      = YES
EXPAND_AS_DEFINED      = 
                         
HAVE_DOT               = YES  
                         
GENERATE_LATEX         = NO
DOT_GRAPH_MAX_NODES    = 500


                          
                      






        






GENERATE_LATEX         = NO
DOT_GRAPH_MAX_NODES    = 500

EXTENSION_MAPPING      = .h=v
#GENERATE_HTMLHELP      = yes
##CHM_INDEX_ENCODING     = 
#CHM_FILE               = XilinxDoc.chm
